<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editer le produit</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h2>Modifier le produit</h2>
<br/><br/>
<form th:action="@{/save}" th:object="${product}" method="POST">
  <table class="table table-header table-sub-heading-color">
    <tr>
      <td>ID</td>
      <td><input type="text" th:field="*{id}" readonly="readonly"/> </td>

    </tr>
    <tr>
      <td>Nom:</td>
      <td><input type="text" th:field="*{name}"></td>
    </tr>

    <tr>
      <td>Firme:</td>
      <td><input type="text" th:field="*{brand}"></td>
    </tr>
    <tr>
      <td>Fabriqué à:</td>
      <td><input type="text" th:field="*{madein}"></td>
    </tr>
    <tr>
      <td>Prix:</td>
      <td><input type="text" th:field="*{price}"></td>
    </tr>
    <tr>
      <td colspan="2"><button type="submit">Modifier</button></td>
    </tr>
  </table>
</form>
</body>
</html>