<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Produits</title>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
    <h1>Product list</h1>
    <a href="/new">Créer un nouveau Produit</a>
    <br/><br/>
    <!--Recherche-->
    <h2>Recherche</h2>
    <form th:action="@{|/search|}" method="get">
        <input type="search" name="keyword" th:value="${keyword}"  placeholder="Recherche par ID, nom, marque ou pays d'origine" size="50" >
        <button type="submit" class="btn btn-info" >Rechercher</button>

    </form>

    <table class="table">
        <thead class="table-header table-sub-heading-color">
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Firme</th>
            <th>Fabriqué en</th>
            <th>Prix</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody class="table-info table-active table-sub-heading-color">
            <tr th:each="product : ${listProducts}" th:field="product">
                <td th:text="${product.id}">ID</td>
                <td th:text="${product.name}">Nom</td>
                <td th:text="${product.brand}">Firme</td>
                <td th:text="${product.madein}">Fabriqué en</td>
                <td th:text="${product.price}">Price</td>
                <td>
                    <a th:href="@{|/edit/${product.id}|}">[Modif]</a>
                    &nbsp;&nbsp;&nbsp;
                    <a th:href="@{|/delete/${product.id}|}">[Suppr]</a>
                </td>
            </tr>
        </tbody>


    </table>


</body>
</html>